<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head') %>
    <title><%= titlu %></title>
</head>
<body>
    <%- include('../fragmente/header') %>
    <main>
        <h1><%= titlu %></h1>
        <p><%= text %></p>
        <img src="<%= imagine %>" alt="Eroare" style="max-width: 300px;">
    </main>
    <%- include('../fragmente/footer') %>
</body>
</html>